footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    background:rgb(226, 226, 226);
  }
/* 
#calendar {
    width: 600px;
} */