<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melon Reservations</title>
</head>
<body>
    <h1>This is the homepage</h1>

    <h2>Current Scheduled Reservations</h2>

    <h2>Search for a New Reservation</h2>
    <form action="/search">
    <input type="date" id="start_date" name="start_date">
    <input type="time" id="start_time" name="start_time">
    </form>


</body>
</html>