{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Reservations</h1>
    <ul>
        {% if not data %}
        <li>No reservations available for the selected date</li>
        {% endif %}

        {% for item in data %}
        <li>{{ item.name }} is at {{ item.date }}
            <form action="/create_rez" method="POST">
            <input type="checkbox" name="reservation" value="{{ item.date }},{{ item.name }}">
            <button type="submit">Submit</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/home">
        <button>Go Back To Homepage</button>
    </a> 
</div>
    
{% endblock %}