{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Reservations</h1>

     <!-- Flash messages -->
     <div class="flash_msg">
        {% for msg in get_flashed_messages() %}
            <span>{{ msg }}</span>
        {% endfor %}
        </div>

    <ul>
        {% if not data %}
        <li>No reservations available for the selected date</li>
        {% endif %}

        {% for item in data %}
        <li>{{ item.name }} is on {{ item.date }} at {{ item.time }}
            <form action="/create_rez" method="POST">
            <input type="checkbox" name="reservation" value="{{ item.date }}, {{ item.time }}, {{ item.name }}">
            <button type="submit">Submit</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/home">
        <button>Go Back To Homepage</button>
    </a> 
</div>
    
{% endblock %}